<div class="container">
    <h4 class="mt-4">Izmena casopisa</h4>
    <span class="error" *ngIf="errNaziv">Naziv časopisa je obavezan.</span>
    <span class="error" *ngIf="errIssn">ISSN broj je obavezan.</span>
    <span class="error" *ngIf="errNaplata">Izbor naplate članarine je obavezan.</span>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>
        <div *ngFor="let field of formFields">
            <label for={{field.id}}>{{field.label}}</label>
            
            <input type="text" class="form-control" readonly name={{field.id}} [ngModel]=field.defaultValue *ngIf="field.type.name=='string' && field.id=='komentar_admina'">
            <input type="text" class="form-control" name={{field.id}} [ngModel]=field.defaultValue *ngIf="field.type.name=='string' && field.id!='komentar_admina'">
            <input type="checkbox" class="form-control" name={{field.id}} [ngModel]=field.defaultValue  *ngIf="field.type.name=='boolean'">
            <input type="number" class="form-control"  name={{field.id}} [ngModel]=field.defaultValue  *ngIf="field.type.name=='long'">
            <select name={{field.id}} class="form-control" [ngModel]=field.defaultValue *ngIf="field.type.name=='enum'">
              <option *ngFor="let val of enumValues" value={{val}}>
                {{field.type.values[val]}}
              </option>
            </select>
        </div>
        
        <input type="submit" class="btn btn-primary posalji" value="OK">
    </form>
</div>