h4 {
    text-align: center;
}

.container {
    width: 50%;
}

.posalji {
    margin: 15px;
    margin-left: 35%;
    width: 30%;
}

.form-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
    width: 35%;
    /* background-color: black; */
    margin: 0 auto;
    /* overflow-y: scroll; */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}