<div class="container">
    <h2>Radovi:</h2>
      <button class="btn btn-primary dodaj" (click)="onDodajRad()">Dodaj rad</button>
      <div class="table-responsive">
          <table class="table" id="lista">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Naziv rada</th>
                <th scope="col">Cena</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rad of radList">
                    <th scope="row">{{ rad.id }}</th>
                    <td>{{ rad.name }}</td>
                    <td>{{ rad.price }} {{rad.currency}}</td>
                  </tr>
              </tbody>
          </table>
          </div>
        <div>
          <h3 *ngIf="emptyRadList">U sistemu nema zabeleženih radova.</h3>
      </div>
  
      <h3>Zadaci za koautore:</h3>
      <p *ngIf="!imaTaskovaZaKoautore">Trenutno nemate ovakav tip zadatka.</p>
      <table>
          <tr *ngFor="let task of tasksK" > <td style="width: 300px; max-width: 500px;">{{task.name}}</td><td><button class="btn btn-primary" (click)="onClickK(task.taskId)">Go to task</button></td></tr>
      </table>

      <h3>Zadaci za izmenu radova:</h3>
      <p *ngIf="!imaTaskovaZaRadove">Trenutno nemate ovakav tip zadatka.</p>
      <table>
          <tr *ngFor="let task of tasksR" > <td style="width: 300px; max-width: 500px;">{{task.name}}</td><td><button class="btn btn-primary" (click)="onClickR(task.taskId)">Go to task</button></td></tr>
      </table>

      <h3>Zadaci za izmenu rada sa komentarima:</h3>
      <p *ngIf="!imaTaskovaSaKomentarima">Trenutno nemate ovakav tip zadatka.</p>
      <table>
          <tr *ngFor="let task of tasksKom" > <td style="width: 300px; max-width: 500px;">{{task.name}}</td><td><button class="btn btn-primary" (click)="onClickKom(task.taskId)">Go to task</button></td></tr>
      </table>
  </div>

  <div class="form-modal" *ngIf="showModal">
    <div class="modal-content room-content">
      <div class="modal-body">
          <button type="button" class="close" (click)="onCloseModal()">
              <span aria-hidden="true">&times;</span>
            </button>
        <app-izaberi-casopis-modal></app-izaberi-casopis-modal>
      </div>
    </div>
</div>