h2 {
    margin-bottom: 50px;
    margin-top: 20px;
}

.container {
    width: 95%;
}

.src {
    margin-right: 12px;
    margin-top: 20px;
    width: 170px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
}

.desni {
    vertical-align: bottom;
    text-align: center;
    border-left: 1px solid #000000; 
}