<div class="container">
    <h2>Pretraga radova</h2><p style="font-size: 12px; margin-bottom: 30px;">(Ostavite praznim polja po kojima ne želite da pretražujete)</p>
            <div class="row">
                <div class="col form-group">
                    <label> Naziv časopisa </label>
                    <input type="text" class="form-control" [(ngModel)]="magazineName" name="magazineName">
                </div>
              
                <div class="col form-group">
                    <label> Naslov rada </label>
                    <input type="text" class="form-control" [(ngModel)]="title" name="title">
                </div>
              
                <div class="col form-group">
                    <label> Ime i prezime autora </label>
                    <input type="text" class="form-control" [(ngModel)]="author" name="author">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label> Ključni pojam </label>
                    <input type="text" class="form-control" [(ngModel)]="keyTerms" name="keyTerms">
                </div>
                
                <div class="col form-group">
                    <label> Sadržaj </label>
                    <input type="text" class="form-control" [(ngModel)]="text" name="text">
                </div>
                
                <div class="col form-group">
                    <label> Naučna oblast </label>
                    <input type="text" class="form-control" [(ngModel)]="scienceField" name="scienceField">
                </div>
              </div>
              
              <div class="row d-flex justify-content-end">
                <div class="form-group rejdio">
                    <input [(ngModel)]="radioCheck" checked type="radio" class="rdo" id="radioCheckAND" name="radioCheck" value="AND">
                    <label for="radioCheckAND">AND</label>
                    <input [(ngModel)]="radioCheck" type="radio" class="rdo" id="radioCheckOR" name="radioCheck" value="OR">
                    <label for="radioCheckOR">OR</label>
                </div>
                <button class="btn btn-primary src" (click)="onSearch()">Pretraži</button>
            </div>
    
    <hr>

    <div *ngIf="searching" class="d-flex justify-content-center">
        <img width="20%" height="20%" src="/assets/Loading.gif" style="margin-top: 10px;">
    </div>

    <h5 *ngIf="emptyList">Ne postoje radovi sa traženim kriterijumom.</h5>

    <div class="card border-success mb-4" *ngFor="let sciencePaper of sciencePaperList">
        <div class="card-header">{{sciencePaper.title}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-10">
                    <p>Apstrakt: {{sciencePaper.paperAbstract}}</p>
                    <p class="card-text" [innerHtml]="sciencePaper.highlight"></p>
                </div>
                <div class="col-lg-2 desni">
                    <h4>{{sciencePaper.price}}</h4>
                    <h6>{{sciencePaper.currency}}</h6>
                    <button class="btn btn-primary" *ngIf="sciencePaper.openAcess == true">Preuzmi</button>
                    <button class="btn btn-primary" *ngIf="sciencePaper.openAcess == false">Kupi</button>
                </div>
            </div>
        </div>
    </div>
</div>