<div class="container">
  <div id="login">
    <img src="assets/NClogo.png" alt="NC logo" class="logo" [routerLink]="['/pocetna']" title="Go to homepage">
    <h3>Login</h3>
    <form [formGroup]="loginForm">
      <div class="inputWithIcon">
        <input type="text"  Placeholder="Korisnicko ime" required formControlName="username" class="form-control">
        <i class="fa fa-user"></i>
      </div>
      <div class="inputWithIcon">
        <input type="password"  Placeholder="Sifra" required formControlName="password" class="form-control">
        <i class="fa fa-lock"></i>
      </div>
      <input type="submit" class="btn btn-primary" value="Login" (click)="onSubmit()">
    </form>
    <p>Don't have an account? <a [routerLink]="['/registration']">Register</a></p>
  </div>
</div>